<h3>Ingredient List</h3>

<mat-card class="cart-item" *ngFor="let i of items">
    <mat-card-header><h3>{{i.name | titlecase}}</h3></mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <td>Quantity</td>
                <td><input type="number" value={{i.qty}} min="1"/></td>
            </tr>
            <tr>
                <td>Price</td>
                <td>{{i.price* i.qty}} {{i.unit}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
