<h2> <app-search></app-search> </h2>

<h2>Ingredients related to</h2>

<mat-card align="center" *ngFor="let p of products">
    <mat-card-content>
        <img src={{p.image}}>    
        <a [title] = "p.name + 'details' "
        [routerLink] = "['/products',p.id]"> 
        <h3>{{p.name | titlecase}}</h3></a>

        <div>{{p.price}} {{p.unit}} per unit!</div>    
        <p *ngIf = "p.description">
        {{p.description}}
        </p>

        <app-product-alerts [product] = "p" (favourite)="addToTray(p)"></app-product-alerts>
    </mat-card-content>

</mat-card>